body {
    background-color: burlywood;
}

h1 {
    color: brown;
}

li#l1 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/745_icon.jpg);
}

li#l2 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/4000_icon.jpg);
}

li#l3 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/440_icon.jpg);
}

li#l4 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/271590_icon.jpg);
}

li#l5 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/rsz_1200px-wow_iconsvg.png);
}

li#l6 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/359550_icon.jpg);
}

li#l7 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/minecraft-icon-32-noaa.png);
}

li#l8 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/rsz_unnamed.png);
}

li#l9 {
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(IMG/Stalker-icon.png);
}

h4#h4q1 {
    color: crimson;
}

h4#h4q2 {
    color: greenyellow;
}